.chat {
  margin: 6px 0;
  padding: 0;
  clear: both;
  max-width: 70%;
  word-wrap: break-word;

  &.left {
    float: left;
    margin-left: 8px; /* 왼쪽 메시지 여백 */
  }

  &.right {
    float: right;
    text-align: left;
    margin-right: 8px; /* 오른쪽 메시지 여백 */
  }

  &.center {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
}

.username {
  font-size: 0.8em;
  color: gray;
  margin-bottom: 0.3em;
  clear: both;
}

div.rise {
  transition: 1.5s;
  transform: rotate(360deg);
}
<<<<<<< HEAD
.chat_outline {
  position: fixed;
  width: 400px;
  @media (max-width: 860px) {
    width: 100%;
  }
}
// .chat_outline {
//   margin-top: 2em;
//   @media (max-width: 860px) {
//     margin-top: 20em;
//   }
// }
=======
>>>>>>> dev
div.menu {
  padding: 0 10px;
  width: 80%;
  height: 0px;
  left: 31px;
  // bottom: 100px;
  position: absolute;
  background: gray;
  transition: 1.5s;
  bottom: 58px;
  opacity: 0.5;
  z-index: 2;
}
div.menu.up {
  height: 300px;
  opacity: 1;
}
div.search {
  z-index: 1;
}
div.search.down {
  display: none;
}
